.bodyContainer{
    margin-top: 10px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.body{
    display: flex;
    width: 70%;
    /* height: 50px; */
    justify-content: center;
    /* align-items: center; */
    /* background-color: black; */
}
.imgOne{
    width: 30%;
    display: flex;
    justify-content: end;
}
.imgOne img{
    width: 80%;
}
.imgTwo{
    width: 68%;
    margin-left: 2%;
}

.imgTwo h2{
    font-size: 35px;
    opacity: 0.5;
}
.imgTwo img{
    margin-top: 40px;
    width: 200px;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 792px) {
    .imgTwo h2{
        font-size: 24px;
        opacity: 0.5;
        /* color: red; */
    }
    .imgOne{
        margin-right: 10px;
    
    }
    .imgTwo img{
        /* margin-top: 40px; */
        width: 150px;
        cursor: pointer;
    }
    
}
@media only screen and (max-width: 575px) {
    .bodyContainer{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        
    }
    .body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .imgOne{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgOne img{
        width: 98%;
    }
    .imgTwo{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .imgTwo img{
        margin-top: 10px;
        width: 300px;
        margin-bottom: 20px;
        margin-left: 10px;  
    }
    
    
    .imgTwo h2{
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;  
    }
    .imgTwo img{
        margin-left: 10px;
    }
}

