.aboutContainer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    width: 60%;
    text-align: center;
    
}
.about h1{
    margin-bottom: 10px;
}
.about p{
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 792px){
    .about p{
        line-height: 2;
    }
}

@media only screen and (max-width: 575px){
    .about{
        width: 100%;
    }
    .about p{
        text-align: justify;
        margin: 0 10px;
    }
}